{% extends 'base.html' %}
{% block script_block %}

{% endblock %}

{% block body_block %}
    <div style = "background-color: darkseagreen;" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 style="color: white">Edit Event</h1>
            <form style="color: white" action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
              {% csrf_token %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}

              {% for field in form.visible_fields %}
              <p style="color:red">{{ field.errors }}</p>
              {{ field.label}}
              {{ field }}
              {{ field.help_text}}

              {% endfor %}
              <input type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
