{% extends "base.html" %}

{% block body_block %}

<div>
    <h1>Add an Event</h1>
    <br />

    <div>
        <form id="event_form" method="post" action="/add_event/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            
            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}<br/>
            {{ field }}<br/>
            {% endfor %}

            <br/>
            <input type="submit" name="submit" value="Create Event"/a>
        </form>

    </div>
</div>
{% endblock  %}
