{% extends "base.html" %}

{% block body_block %}
<div class="section" style="background-color: darkseagreen; color:white;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Add Event</h1>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <form id="user_form" method="post" action="/add_event/" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>New Event Form</h1>
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <p style="color:red">{{ field.errors }}</p>
            {{ field.label}}
            {{ field }}
            {{ field.help_text}}

            {% endfor %}
            <br/>
            <input class="btn btn-primary" type="submit" name="submit" value="Create" style="background-color:darkgrey"/>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock  %}
