{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The MAT</title>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static "fullcalendar/fullcalendar.css" %}">
        <link rel="stylesheet" href="{% static "css/video.css" %}">
        <script src="{% static "lib/jquery.min.js" %}"></script>
        <script src="{% static "lib/moment.min.js" %}"></script>
        <script src="{% static "lib/animate.js" %}"></script>
        <script src="{% static "fullcalendar/fullcalendar.js" %}"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
        <script type="text/javascript">

        {% block script_block %}
            <!--Calender script from index page goes here in index.html -->
        {% endblock %}

        </script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-inverse navbar-static-top">
           <div class="container">
           <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" contenteditable="False"><span>The MAT</span></a>
           </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--If user is logged in -->
                {% if user.is_authenticated %}
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/profile">{{up}}</a>
                </li>
                {% if up.is_venue%}
                <li>
                    <a href="/venue/{{up.location.id}}">{{up.location.venue_name}}</a>
                </li>
                {% endif %}
                <li>
                    <a href="/venues">Venues</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
                {% else  %}
                <li>
                    <a href="/venues">Venues</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                {% endif %}
                <!-- if user is not logged in-->
              </ul>
            </div>
          </div>
        </div>
        {% block body_block %}
        <!--insert custom body content here -->
        {% endblock %}
        <footer class="section section-success">
             <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>&copy; NT Daily</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                        <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                        <br>Ut enim ad minim veniam, quis nostrud</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                                <a href="https://www.instagram.com/ntdaily/"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="https://twitter.com/ntdaily?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="https://www.facebook.com/NorthTexasDaily/"><i class="fa fa-3x fa- fw fa-facebook text-inverse"></i></a>
                            </div>
                        </div>
                       <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a href="https://www.instagram.com/ntdaily/" target="_blank"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="https://twitter.com/ntdaily" target="_blank"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="https://www.facebook.com/NorthTexasDaily" target="_blank"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                            </div>
                       </div>
                    </div>
                </div>
             </div>
        </footer>
    </body>
</html>
