{% extends 'base.html' %}
{% load social_widgets %}
{% block script_block %}

{% endblock %}

{% block body_block %}
<div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="text-center thumbnail">
            <img src="{{event.img_url}}" class="img-responsive">
            <div class="caption">
              <ul class="breadcrumb">
                <li>Likes: {{event.likes}}</li>
                <li>Views: {{event.views}}</li>
                <li>
                  {% social_widget_render "facebook/share_button.html" layout="button"%}
                </li>
                <li style="list-style-type: none; display: inline-block; vertical-align: top;">
                  {% social_widget_render "twitter/share_button.html" %}
                </li>
              </ul>
              {% if user.is_authenticated %}
              {% if userattendeance == False %}
              <a class="btn btn-block btn-success" href="/attendevent/{{event.id}}">I'm Attending!</a>
              {% else %}
              <a class="btn btn-block btn-danger" href="/unattendevent/{{event.id}}">Not Attending</a>
              {% endif %}
              {% else%}
              <a class="btn btn-block btn-success" href="/login">Login to RSVP!</a>
              {% endif %}

              <div style="text-align: center; margin-top: 1em">
                {% if up.location == event.location %}
                <a href="/editevent/{{event.id}}/" class="btn btn-info" role="button">Edit Event</a>
                <a href="/deleteevent/{{event.id}}/" class="btn btn-danger" role="button">Delete Event</a>
                {% endif %}
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-8">
          <h1 contenteditable="false">{{event.event_title}}</h1>
          <h2>@ <a href="/venue/{{venue.id}}">{{venue.venue_name}}</a></h2>
          <p>{{ venue.location}}</p>
          <hr>
          <p>From <b>{{event.begin_date}}</b> until <b>{{event.end_date}}</b></p><hr><p>{{event.event_description}}</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Who's Attending?</h1>
          {% if not attendance %}
          <h2>Be the first to RSVP!</h2>
          {% endif %}
        </div>
        {% for a,p in attendanceprofiles %}
        <div class="col-md-3">
          <ul class="media-list">
            <li class="media">
              {% if p.picture %}
              <img class="media-object" src="{{ p.picture.url }}" height="64" width="64">
              {% else %}
              <img class="media-object" src="https://cdn2.iconfinder.com/data/icons/users-2/512/User_6-512.png" height="64" width="64">
              {% endif %}
              <div class="media-body">
                <h4 class="media-heading">{{a.username}}</h4>
              </div>
            </li>
          </ul>
        </div>
        {% if forloop.counter|divisibleby:4%}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
