{% extends 'base.html' %}
{% block script_block %}

{% endblock %}

{% block body_block %}
<div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="text-center thumbnail">
            <img src="{{event.img_url}}" class="img-responsive">
            <div class="caption">
              <ul class="breadcrumb">
                <li>Likes: {{event.likes}}</li>
                <li>Views: {{event.views}}</li>
              </ul>
              {% if up.location == event.location %}
              <a href="/editevent/{{event.id}}/" class="btn btn-info" role="button">Edit Event</a>
              <a href="/deleteevent/{{event.id}}/" class="btn btn-danger" role="button">Delete Event</a>

              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <h1 contenteditable="false">{{event.event_title}}</h1>
          <h2>@ <a href="/venue/{{venue.id}}">{{venue.venue_name}}</a></h2>
          <p>{{ venue.location}}</p>
          <hr>
          <p>From <b>{{event.begin_date}}</b> until <b>{{event.end_date}}</b></p><hr><p>{{event.event_description}}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
