{% extends 'base.html' %}
{% block script_block %}
    <!-- <script type="text/javascript"> -->
            $(document).ready(function() {

                          // page is now ready, initialize the calendar...

                          $('#calendar').fullCalendar({
                              // put your options and callbacks here
                          })

                      });

 {% endblock %}
    {% block body_block %}
        <div class="section"><div class="container"><div class="row"><div class="col-md-12"><div class="jumbotron"> <h1>The MAT Calendar</h1>   </div></div></div></div></div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h1>Venues</h1>
                    </div>
                    <div class="col-md-8">
                        <h1 class="text-left">Calendar</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="https://www.yelp.com/biz/lucky-lous-denton">
                                    <img class="media-object" src="https://lh5.ggpht.com/m4AKm33TFRdf2mzagtMvIarKT6KdR0AmdRGHGws8yRioKFMeUzfIdFUem-P8XhvKX-V-=w300" height="64" width="64">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Lucky Lou's</h4> 
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </p>
                                </div>
                            </li><li class="media">
                                <a class="pull-left" href="https://www.yelp.com/biz/riprocks-denton">
                                    <img class="media-object" src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-1/10523838_938744249484610_4733063301282358944_n.jpg?oh=912e35d88b9249cd9c05572b5995263a&amp;oe=59613E70" height="64" width="64">
                                </a><div class="media-body">
                                    <h4 class="media-heading">Riprocks Bar and Grill</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="https://www.yelp.com/biz/fry-street-tavern-denton-3">
                                    <img class="media-object" src="https://pbs.twimg.com/profile_images/478581426103648257/DGq_HlMT_400x400.jpeg" height="64" width="64">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Fry Street Tavern</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="https://www.yelp.com/biz/andys-basement-denton">
                                    <img class="media-object" src="https://pbs.twimg.com/profile_images/2924347200/ee246d7cc11ad094e4d475bd0e5d8038.jpeg" height="64" width="64">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Andy's Bar and Grill</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="https://www.yelp.com/biz/dans-silver-leaf-denton">
                                    <img class="media-object" src="https://dentonjazz135dotcom.files.wordpress.com/2012/06/dans-silverleaf-logo-best.jpg" height="64" width="64"></a><div class="media-body">
                                    <h4 class="media-heading">Dan's Silverleaf</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
