{% extends 'base.html' %}
{% block script_block %}
    <!-- <script type="text/javascript"> -->
            $(document).ready(function() {

                          // page is now ready, initialize the calendar...
                          $('#calendar').fullCalendar({
                            header: {
                        				left: 'prev,next today',
                        				center: 'title',
                        				right: 'month,basicWeek,basicDay,listMonth'
                        			},

                              //put your options and callbacks here
                              navLinks: true, // can click day/week names to navigate views
                              eventLimit: true, // allow "more" link when too many events
                              events: [
                                {% for e in events %}
                                {
                                  title: '{{e.event_title}}',
                                  start: '{{e.begin_date|date:"c"}}', // the "c" modifier converts date/time to proper format
                                  end: '{{e.end_date|date:"c"}}',
                                  url: '/event/{{ e.id }}'
                                },
                                {% endfor %}
                              ]
                          });
                          // Video Player
                          $(".player").mb_YTPlayer();

            });

 {% endblock %}
    {% block body_block %}
        <div style="padding-top: 0" class="section">
          <!-- <div class="container"><div class="row"><div class="col-md-12"><div class="jumbotron"> <h1>The MAT Calendar</h1>   </div></div></div></div> -->
          <!--Video Section-->
            <section class="content-section video-section">
            <div class="pattern-overlay">
            <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=JE5pur-BNFM',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                  <h1>The MAT Calendar</h1>
                  <h3>Denton Music Events</h3>
          	   </div>
                </div>
              </div>
            </div>
          </section>
          <!--Video Section Ends Here-->
            <div class="container">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                      <h1>Venues</h1>
                        <ul class="media-list">
                          {% for v in venues %}
                            <li class="media">
                                <a class="pull-left" href="/profiles/{{ v.id }}">
                                    <img class="media-object" src="{{v.img_url}}" height="64" width="64">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">{{v.venue_name}}</h4>
                                    <p>Venue Description </p>
                                </div>
                            </li>
                          {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <h1 class="text-left">Calendar</h1>
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
