{% extends "base.html" %}

{% block body_block %}
<body style="color:white">
<div class="row" style="background-color: darkseagreen" xmlns="http://www.w3.org/1999/html">

    <div class="container">
        {% if user.is_authenticated %}

        {% else %}
            </br>
        <div class="col-xs-8">
            <h1>Login to MAT</h1>
        </div>
        <div class="col-xs-4">
        <form id="login_form" method="post" action="/login/">
            <h2>Please Sign In</h2>
            {% if bad_details %}
            <p><strong>Your username and/or password were incorrect!</strong></p>
            {% elif disabled_account %}
            <p><strong>Your MAT account is currently disabled; we can't log you in!</strong></p>
            {% endif %}

            {% csrf_token %}
            Username: <input type="text" class="input-block-level" style="color:black" placeholder="Username"
                             name="username" value="" size="50"/>
            <br/>
            Password: <input type="password" class="input-block-level" style="color:black" placeholder="Password"
                             name="password" value="" size="50"/>
            <br/>
            <button class="btn btn-primary" type="submit" style="background-color:darkgrey">Sign in</button>
        </form>

        {% endif %}
    </div>
    </div>
</div>
{% endblock  %}
