{% extends "base.html" %}
{% block body_block %}
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Profile</h1>
				{% if userprofile.picture %}
						<img src="{{ userprofile.picture.url }}" class="img-responsive">
				{% else %}
					<img src="https://cdn2.iconfinder.com/data/icons/users-2/512/User_6-512.png" style="width:300px;height:300px">
				{% endif %}

				<h2>Username: {{ user.username }}</h2>
				<p>Email: {{ user.email }}</p>
				{% if userprofile.website %}
					<p>Website: <a href="{{ userprofile.website }}">{{userprofile.website}}</a></p>
				{% endif %}
				<p>Subscribed Venues: </p>
				<input class="btn btn-primary" type="submit" value="Edit Profile" style="background-color:darkgrey "/>
			</div>
			<div class="col-md-6">
				<h1>Events Attending:</h1>
				<ul class="media-list">
					{% for a in attendance %}
					<li class="media">
						<a class="pull-left" href="/event/{{a.event.id}}"><img class="media-object" src="{{a.event.img_url}}" height="64" width="64"></a>
						<div class="media-body">
							<h4 class="media-heading">{{a.event.event_title}}</h4>
							<h5 class="media-heading">From: {{a.event.begin_date}} To: {{a.event.end_date}}</h5>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

    </div>
</div>
{% endblock %}
